{%
  set classes = [
    'project-teaser',
    'node--type-' ~ node.bundle|clean_class,
  ]
%}

{% set external = false %}
{% if content.field_project_external_website|render %}
  {% set link_url = content.field_project_external_website.0['#url'] %}
  {% set external = true %}
{% else %}
  {% set link_url = node_url %}
{% endif %}

{% set schedule %}  
  {% if content.field_project_plan_schedule|render %}        
    <span class="label--schedule">{{ 'planning'|t }}{{ content.field_project_plan_schedule }}</span>
  {% endif %}
  {% if content.field_project_execution_schedule|render %}
    <span class="label--schedule">{{ 'execution'|t }}{{ content.field_project_execution_schedule }}</span>
  {% endif %}
{% endset %}

{% embed '@hdbt/component/card.twig' with {
    card_modifier_class: classes|join(' '),
    card_image: content.field_project_image,
    card_title: label,
    card_url: link_url,
    card_url_external: external,
    card_metas: [
      {
        icon: 'calendar',
        label: 'Estimated schedule'|t,
        content: schedule
      },
      {
        icon: 'location',
        label: 'Project location'|t,
        content: content.field_project_district
      },
      {
        icon: 'locate',
        label: 'Project theme'|t,
        content: content.field_project_theme
      },
    ],
    card_tags: [
      {
        tag: 'Project'|t,
        color: 'gold',
      },
    ],
  } %}
{% endembed %}
