{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--full-width', 'component--district-listing' ],
      component_title: content.field_district_list_title,
      component_description: content.field_district_list_description,
      component_content_class: 'district-listing',
    }
  %}
    {% block component_content %}
      <div class="district-listing__list">
        {{ drupal_view('district_listing', 'district_listing') }}
      </div>
    {% endblock component_content %}
	{% endembed %}
{% endblock paragraph %}
