.component--district-and-project-search {
  background-color: $color-silver-light;

  ul[role="listbox"] {
    background-color: var(--color-white);
  }
}

// If the district and project search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--district-and-project-search:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 55px; // Leave enough room between the last card and footer.
}

.component--district-and-project-search .component__container {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;
  }
}

.district-project-search-form__filters-container {
  .district-project-search-form__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $spacing-and-half;

    > div {
      flex-basis: 100%;
    }

    @include breakpoint($breakpoint-m) {
      > div {
        flex-basis: 48%;
      }
    }
  }

  .district-project-search-form__additional-filters {
    border-top: 1px solid var(--color-black-20);
    border-bottom: none !important;
    margin-top: $spacing;

    div[role="heading"] {
      flex: 0 1 auto;
      font-weight: 500;
    }

    div[role="button"] {
      width: auto;

      svg {
        margin-left: $spacing-half;
      }
    }

    > div:last-child {
      margin-bottom: $spacing;
    }
  }

  .district-project-search-form__submit-button {
    width: 100%;
    max-width: 280px;
    margin-top: $spacing-double;
  }
}

.district-project-search-form__clear-all {
  list-style-type: none;
  margin-bottom: $spacing-half;

  // Negate hdbt's li+li margin
  margin-top: 0;
}

.district-project-search-form__selections-wrapper {
  margin-top: $spacing-double;
}

.district-project-search-form__selections-container {
  align-items: center;
}

// Need a specific selector to override hds styles
.district-project-search-form__clear-all .district-project-search-form__clear-all-button {
  --background-color-hover: transparent;
  --background-color-focus: transparent;
  --background-color-hover-focus: transparent;
  --border-color-hover: var(--hdbt-color-black);
  --border-color-focus: var(--hdbt-color-black);
  --border-color-hover-focus: var(--hdbt-color-black);
  --color: var(--hdbt-color-black);
  --color-hover: var(--hdbt-color-black);
  --color-focus: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-color-black);
  --focus-outline-color: var(--hdbt-color-black);
}

// Use a very specific selector here to override hds styles
button.district-project-search-form__remove-selection-button:not(:disabled) {
  @include tag('interactive--deletable');
  color: var(--hdbt-color-black);
  --color-hover-focus: var(--hdbt-text-color);
  // TODO: Combine styles between HDS versions
  padding: 12px 0px 12px 20px;
}

// Neagate HDS-defined paddings for span-element inside button
.district-project-search-form__remove-selection-button span {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

// Negate HDS-defined margin for icon inside remove button
.district-project-search-form_selections-wrapper button.district-project-search-form__remove-selection-button > div {
  margin-right: 0;
}

.district-project-search__results_heading {
  border-bottom: 1px solid var(--color-black-20);
  margin-top: $spacing-quadruple;
  margin-bottom: $spacing-triple;

  > div:last-of-type {
    margin-top: $spacing-and-half;
    margin-bottom: $spacing-and-half;
  }

  .district-project-search__count {
    @include font('lead');

    .district-project-search__count-total {
      font-weight: $font-weight-bold;
    }
  }

  @include breakpoint($breakpoint-m) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:last-of-type {
      margin-top: 0;
      margin-left: $spacing-and-half;
    }
  }
}

.district-project-search__listing {
  margin-top: 0;
  padding-left: 0;
}

.district-project-search__listing__no-results {
  p {
    @include font('lead');
  }
}
