.component--district-and-project-search {
  background-color: $color-silver-light;
}

// If the distirct and project search is just before footer it needs to function the same way as unit search.
.layout-main-wrapper > *:last-child .component--district-and-project-search:last-child {
  margin-bottom: -115px; // Enough to get the block under the footer.
  padding-bottom: 55px; // Leave enough room between the last card and footer.
}

.component--district-and-project-search .component__container {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;
  }
}
