.component--list-of-plans {
  @include component-side-padding;
  background-color: $color-black-5;
}

// If the unit-search is just before footer.
.layout-main-wrapper > *:last-child .component--list-of-plans:last-child {
  margin-bottom: -115px; 
  padding-bottom: 55px;
}

.list-of-plans__list {
  margin-top: $spacing-and-half;

  .feed-link {
    margin-top: $spacing !important;

    // External icon gets duplicated in the feed link.
    &::after {
      display: none !important;
    }
  }
}
