.component--project-list {
  background-color: $color-black-5;

  .component__container {
    padding-bottom: $spacing-quadruple;
    padding-top: $spacing-quadruple;

    // Since the component is not "full width" next to a sidebar, we should uniform padding around
    .has-sidebar .components--upper & {
      padding-bottom: $spacing-double;
      padding-left: $spacing-double;
      padding-right: $spacing-double;
      padding-top: $spacing-double;
    }
  }
}

.project-list_count {
  @include font('h4');
}

.project-list_count-text {
  @include font('body');
}

.project-list__count-container {
  margin-bottom: $spacing-and-half;
}

.views--project-list {
  .views-row:last-child .project-teaser {
    margin-bottom: 0;
  }
}
.project-list__buttons {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-m) {
    flex-direction: row;
  }

  .hds-pagination-container {
    width: 100%;
  }
}

.project-list__list .project-teaser .content-tags {
  display: none;
}

