.project__image-container img {
  height: auto;
  width: 100%;
}

.page-type--project {

  &.no-sidebar {
    .project__image-container,
    .content-tags,
    .project__metadata-wrapper {
      @include components-container-max-width;
      @include component-side-padding;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content-tags {
    margin-top: $spacing-double;
  }

  .lead-in {
    margin-bottom: $spacing-double;
  }

  .lower-content .component--list-of-links {
    background-color: $color-black-20;
  }

  .metadata-container {
    max-width: $content-width-max;
  }

  .project-metadata__schedule {
    display: block;
  }
}

.card--project {
  .card__meta .project-schedule:not(:last-child) time:last-child::after {
    content: ', ';
  }
}

.page-type--project {
  .lower-content .component--list-of-links:last-of-type {
    background-color: $color-black-5;
    margin-bottom: calc((#{$footer-koro-height} + #{$spacing-quadruple}) * -1);
    padding-bottom: $spacing-sextuple;
    padding-top: $spacing-sextuple;
  }
}

/* Project teaser specific styles */
.project-teaser .content-tags {
  margin-top: 0;
}
