.page-type--project {
  .project__image-container,
  .content-tags,
  .project__metadata-wrapper {
    @include components-container-max-width;
    @include component-side-padding;
    margin-left: auto;
    margin-right: auto;
  }

  .project__image-container picture {
    display: block;
    max-width: $content-width-max;

    img {
      box-shadow: inset 0 0 0 1px #e6e6e6;
      display: block;
      height: auto;
      max-width: 100%;
      overflow: hidden;
    }
  }

  .project__image-caption {
    margin-block-start: $spacing;
    max-width: $content-width-max;
    text-align: right;
  }
}

.node--type-project {
  .content-tags {
    margin-top: $spacing-double;
  }

  .lead-in {
    margin-bottom: $spacing-double;
  }

  .lower-content .component--list-of-links {
    background-color: $color-black-20;
  }

  .metadata-container {
    max-width: $content-width-max;
  }

  .metadata__item-content .label:not(:last-of-type)::after,
  .metadata__item--schedule--plan-schedule *:last-child::after,
  .card__meta__content .label:not(:last-of-type)::after,
  .card__meta__content .label--schedule:not(:last-of-type) *:last-child::after {
    content: ', ';
  }

  .project-metadata__schedule {
    display: block;
  }
}

/* Project teaser specific styles */
.project-teaser .content-tags {
  margin-top: 0;
}
