.project__image-container {
  img {
    height: auto;
    width: 100%;
  }
}

.page-type--project.no-sidebar {
  .project__image-container,
  .content-tags,
  .project__metadata-wrapper {
    @include component-side-padding;
  }
}


.node--type-project {
  @include components-container-max-width;

  .content-tags {
    margin-top: $spacing-double;
  }

  .lead-in {
    margin-bottom: $spacing-double;
  }

  .lower-content .component--list-of-links {
    background-color: $color-black-20;
  }

  .metadata__item-content .label:not(:last-of-type)::after {
    content: ', ';
  }

  .project-metadata__schedule {
    display: block;
  }
}

.page-type--project {
  .lower-content .component--list-of-links:last-of-type {
    background-color: $color-black-5;
    margin-bottom: calc((#{$footer-koro-height} + #{$spacing-quadruple}) * -1);
    padding-bottom: $spacing-sextuple;
    padding-top: $spacing-sextuple;
  }
}

/* Project teaser specific styles */
.project-teaser .content-tags {
  margin-top: 0;
}
